<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <title>Flow-Activate account</title>
</head>
<body>
	<div>
		<p>
			Hi, <b th:text = "${email}">xxx@xxx.com</b>
		</p>
		<p>
			You are registering for a new account on Flow Forum. This is a verification email. Please click on
			<a th:href="${url}" href="#">this link</a>,
			Activate your account!
		</p>
	</div>
</body>
</html>